<form method="post" action="/start">
  <button type="submit" class="btn btn-primary">Start new game</button>
</form>

<form method="post" action="/statistics">
  <button type="submit" class="btn btn-primary">Show players results</button>
</form>
